.page-land-estates{

  .pane-page-title{
    @extend .container;
    padding-top: 50px;

    & > .pane-content {
      @include make-row();

      h1{
        padding-left: 15px;
      }
    }
  }

  .pane-page-content {
    @extend .container;
    padding-bottom: 50px;

    & > .pane-content {
      @include make-row();

      .view{
        @include make-md-column(12);

        .view-content{
          @include make-row();

          .views-row{
            @include make-xs-column(12);
            @include make-sm-column(4);
            @include make-md-column(3);
            @include transition(all .2s ease-in-out);

            .views-field{
              margin-bottom: 40px;
              background-color: #ededed;
              border: 0;
              border-radius: 0;
              -webkit-box-shadow: 0 0 4px rgba(0,0,0,.25);
              box-shadow: 0 0 4px rgba(0,0,0,.25);

              .img{
                padding: 15px 20px;
                height: 141px;
                background-color: #fff;
                border-bottom: 1px solid #ddd;

                img{
                  @include img-responsive();
                  margin-left: auto;
                  margin-right: auto;
                }
              }

              .body{
                padding: 15px 20px;
                height: 246px;

                p{
                  font-size: 12px;

                  &:last-child{
                    margin-bottom: 0;
                  }
                }
              }

              .view_node{
                padding: 15px 20px;
                background-color: #ddd;

                a{
                  @extend .btn-default;
                  display: block;
                  margin-bottom: 0;
                  width: 100%;
                  text-align: center;
                  border: 4px solid #b2b2b2;

                  &:hover{
                    border-color: #b2b2b2;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}













