.front.page-node .pane-page-content {
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;

  .pane-node-content {
    h1 {
      display: none;
    }
  }
}

//SLIDER
.pane-views-slideshow-block {
  .views-field-uri span div{
    @media screen and (max-width: 767px) {
      height: 50vh!important
    }
  }

  .views-slideshow-cycle-main-frame-row {
    width: 100%!important;
    height: auto!important;
    max-height: 843px;
    overflow: hidden;
  }

  .views-field-field-img {
    img {
      width: 100%!important;
      height: auto!important;
    }
  }
}

//CONTROL-BTN/PAGER
.view-slideshow {

  .carousel-indicators {
    li {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 6px;
      border-radius: 50%;
      background: #CCC;
      background: rgba(255,255,255,.5);
      box-shadow: 0 0 1px 0 rgba(0,0,0,.4);
      position: relative;

      &.active {
        background: #fff;
        &:after {
          content: "";
          width: 21px;
          height: 21px;
          display: inline-block;
          padding: 5px 11px 10px 6px;
          background: url(../img/slider_bullet_bg.png) 0 0 no-repeat;
          position: absolute;
          top: -6px;
          left: -7px;
        }
      }
    }
  }

  .carousel-control.left {
    height: 40px;
    width: 40px;
    position: absolute;
    right: 80px;
    bottom: 20px;
    top: initial;
    left: initial;
    display: block;
    cursor: pointer;
    z-index: 21;
    background: none;
    opacity: 1;

    &:hover {
      background: none;
    }

    .icon-prev {
      width: 40px;
      height: 40px;
      position: absolute;
      cursor: pointer;
      background: url(../img/rs-custom-arrows.png) transparent;
      border-radius: 0;
      background-position: 0 0;

      &:before {
        content: none;
      }
    }
  }

  .carousel-control.right {
    height: 40px;
    width: 40px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    top: initial;
    left: initial;
    display: block;
    cursor: pointer;
    z-index: 21;
    background: none;
    opacity: 1;

    .icon-next{
      width: 40px;
      height: 40px;
      position: absolute;
      cursor: pointer;
      background: url(../img/rs-custom-arrows.png) transparent;
      border-radius: 0;
      background-position: -40px 0;

      &:before {
        content: none;
      }
    }
  }
}

//SLIDMENU
.pane-views-slideshow-slidemenu{
  position: absolute;
  bottom: 17%;
  width: 100%;


  @media screen and (max-width: 767px) {
    position: static;
    padding: 0;
  }

  ul {
    padding: 0;

    @media screen and (max-width: 767px) {
      margin: 0 -15px 0 -16px;
    }
  }
  
  >.pane-content {
    @extend .container;
  }

  .views-row {
    float: left;
    width: 25%;
    min-height: 60px;
    list-style: none;
    position: relative;

    @media screen and (max-width: 991px) {
      width: 50%;
      margin-bottom: 2px;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      display: block;
    }

    .field-content {
      > a {
        position: absolute;
        left: 1px;
        top: 0;
        right: 1px;
        bottom: 60px;
        z-index: 5;
        font-family: proxima-nova,Helvetica,Arial,sans-serif;
        font-size: 22px;
        color: #fff!important;
        text-decoration: none;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;
        -webkit-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;

        &:before {
          font-family: FontAwesome;
          content: '\f105';
          color: white;
          z-index: 999;
          font-size: 24px;
          position: absolute;
          top: 12px;
          right: 10px;

          @media screen and (max-width: 767px) {
            content: "\f138";
          }
        }

        &:hover {
          &:before {
            font-family: FontAwesome;
            content: '\f105';
            color: rgba(255, 255, 255, .75);
            z-index: 999;
            font-size: 24px;
            position: absolute;
            top: 12px;
            right: 10px;

            @media screen and (max-width: 767px) {
              content: "\f138";
            }
          }

          .wrap {
            opacity: 1;
            bottom: 0;
            visibility: visible;

            @media screen and (max-width: 991px) {
              display: none;
            }
          }
        }
      }
    }

    h4 {
      left: 0;
      right: 0;
      padding: 19px 20px 0 20px;
      margin: 0;
      background-color: #000;
      min-height: 60px;
      color: #fff;
      font-family: $font-stack;
      font-size: 20px;
      font-weight: 300;
      z-index: 21;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;

      &:hover {
        color: rgba(255,255,255,.75);
      }
    }

    &.views-row-1{
      h4 {
        background: url(../img/grid_hd_expressionseries.png) 20px 10px no-repeat #000;
        font: 0/0 a;
        color: transparent;

        &:hover {
          background: url(../img/grid_hd_expressionseries_70.png) 20px 10px no-repeat #000;;
        }

        @media (max-width: 1199px) and (min-width: 768px) {
          background-size: 175px 32px!important;
          background-position: 20px 15px!important
        }
      }
    }

    &.views-row-2{
      h4 {
        background: url(../img/grid_hd_blueprintseries.png) 20px 15px no-repeat #000;
        font: 0/0 a;
        color: transparent;

        &:hover {
          background: url(../img/grid_hd_blueprintseries_70.png) 20px 15px no-repeat #000;
        }

        @media (max-width: 1199px) and (min-width: 768px) {
          background-size: 175px 23px!important;
          background-position: 20px 20px!important;
        }
      }
    }

    .wrap {
      -webkit-transition: all .5s ease-in-out;
      -o-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      height: auto;
      bottom: -20px;
      right: 0;
      left: 0;
      background-color: rgba(0,0,0,.8);
      padding: 15px;
      color: white;

      h3 {
        margin-bottom: 14px;
        text-transform: uppercase;
        text-decoration: underline;
        font-size: 14px;
        font-family: $font-stack;
        color: white;
      }

      p {
        font-size: 12px;
        line-height: 1.5;
        font-family: $font-stack;
        color: white;
      }
    }
  }
}