.page-node-53 {

  // Web form
  #node-54{
    padding-bottom: 20px;
  }

  form{
    margin-bottom: 20px;
  }

  fieldset{
    margin: 0 0 30px 0;
    padding: 0;
    border: 0;
    min-width: 0;

    .panel-body{
      padding: 0 15px;
    }
  }

  legend{
    font-family: proxima-nova,Helvetica,Arial,sans-serif;
    font-size: 18px;
    border: none;
  }

  .panel-heading{
    background: transparent;
  }

  .webform-component--association--description p{
    margin-bottom: 0;
  }

  .form-select{
    width: 100%;
    padding: 10px 25px 10px 16px;
  }

  .form-actions{
    padding-left: 15px;
  }
}


















